<form class="ipdip-form">
    <label for="ipdip-rset">Rest to Previous:</label>
    <input type="reset"><br><br>
    <label for="ipdip-spkr">Chat Card Speaker Name:  </label>
    <input type="text" id="ipdip-spkr" name="ipdip-speaker" value="{{speaker}}"><br><br>
    <label for="ipdip-msg">Chat Card Text Content:</label><br>
    <textarea rows="10" wrap="soft" id="ipdip-msg" name="ipdip-message">{{message}}</textarea><br><br>
    <input type="submit" value="Submit">
</form>